*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  color: #333333;
  margin-bottom: 12px;
}

.link-wrapper {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: #7354f9;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.social-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.tooltip {
  display: block;
  width: 100%;
  position: absolute;
  top: -47px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  background-color: #333333;
  border-radius: 3px;
  font-weight: 700;
  color: #fff;
  padding: 4px 8px;
  opacity: 0.8;
}

@media (min-width: 600px) {
}
